autopep8==2.3.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
humanize==4.12.2
idna==3.10
iniconfig==2.1.0
lxml==5.4.0
packaging==25.0
pluggy==1.5.0
prettytable==3.16.0
pycodestyle==2.13.0
pycparser==2.22
pycryptodome==3.22.0
PyNaCl==1.5.0
pytest==8.3.5
PyYAML==6.0.2
random_word==1.0.13
requests==2.32.3
urllib3==2.4.0
validators==0.34.0
wcwidth==0.2.13
XSLTools==0.5
